

<!--
    Layout is just like a template.
    If we are using express ejs layouts then all the routes will render this layout file only and will give error if layout.ejs file is not present in views

    ejs engine will replace the body keyword variable used in layout page with the content of the files which are rendered while routing.

    Ex. if users_controller controller is rendering profile page, then the body keyword here will be replaced with al the contents of profile page.
-->

              <!-- this include is used to include the content of other ejs file in the current rendering page. and this method is known as partials  -->






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | SocialApp</title>

    <!-- cdn for noty.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <%- style %>
</head>
<body>
    <%- include('_header') %>

    

    <main id="layout-main">
        <%- body %>
    </main>

    <%- include('_footer') %>

    <%- script %>

    <script>            //using script tag is necessary for this Noty notification
        <% if(flash.success && flash.success.length>0){ %> 
            new Noty({
                theme: 'relax',
                text: "<%= flash.success %>",
                type: 'success',
                layout: 'topRight',
                timeout: 1000
            }).show();
        <% } %>

        <% if(flash.error && flash.error.length>0){ %> 
            new Noty({
                theme: 'relax',
                text: "<%= flash.error %>",
                type: 'error',
                layout: 'topRight',
                timeout: 500
            }).show();
        <% } %>
    </script>
</body>
</html>
